/* student data section */
.student-card-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.student-card {
	background: linear-gradient(to right, #fff, var(--secondary-color));
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	padding: 1rem;
}

.student-card .row span:first-child {
	text-transform: uppercase;
	font-weight: bold;
}

.student-card .row span {
	width: min(175px, 50%);
}

.student-card .row {
	display: flex;
	gap: 1rem;
}

/* job cards */
.job-card-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.job-card {
	background: linear-gradient(to right, #fff, var(--secondary-color));
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	padding: 1rem;
}
.job-card .row span:first-child {
	text-transform: uppercase;
	font-weight: bold;
}

.job-card .row span {
	width: min(175px, 50%);
}

.job-card .row {
	display: flex;
	gap: 1rem;
}

/* .grid-max-col-2 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
} */

.job-card .job-details {
	position: relative;
}

.company-img-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	opacity: 0.4;
	padding: 30px;
	overflow: hidden;
}
.company-img-container > img {
	height: 100%;
	object-fit: cover;
}

.active-btn-container {
	margin-top: 20px;
}
