/* MAINPAGE */
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 2rem;
	margin-top: 1rem;
	transition: left 0.3s ease;
}

.dashboard-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	background: #fff;
	padding: 2rem;
}

.dash-card-img-container {
	max-width: 100px;
	max-height: 100px;
	opacity: 0.3;
}
.dash-card-img-container img {
	width: 100%;
	height: 100%;
}

.dashboard-card,
.table-card {
	border-radius: 8px;
	box-shadow: var(--box-shadow);
}

.dashboard-card h1 + span {
	color: var(--text-grey);
}

.dashboard-table-grid {
	margin-top: 3.5rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.card {
	background: #fff;
}

.card-header,
.card-body {
	padding: 1rem;
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #f0f0f0;
}

.card-header button {
	background: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	color: #fff;
	font-size: 0.8rem;
	padding: 0.5rem;
	cursor: pointer;
}

.dashboard-table-grid table {
	width: 100%;
	border-collapse: collapse;
}

.dashboard-table-grid thead th {
	text-align: left;
}

.dashboard-table-grid td,
.dashboard-table-grid th {
	padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
	.main-page {
		padding: 1rem;
	}
	.main-page.page-shrink {
		/* padding: 1rem 1rem 1rem calc(var(--sidebar-width) + 1rem); */
		padding: 1rem;
	}
}

@media screen and (max-width: 412px) {
	main {
		font-size: 14px;
	}
}
