/* ------------------------------------------------------------------ */
.main-page {
	background: var(--bg-color);
}
.form-container-wrapper {
	min-height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-container {
	width: min(100%, 600px);
	background-color: var(--form-color);
	padding: 25px 30px;
	border-radius: var(--box-radius-sm);
	box-shadow: var(--box-shadow);
}

.form-container .title {
	display: block;
	font-size: 25px;
	font-weight: 500;
	position: relative;
	margin-bottom: 1rem;
}
.title::after {
	content: "";
	display: block;
	width: 20%;
	height: 3px;
	background: var(--bg-gradient-color);
	position: absolute;
	left: 0;
	bottom: 0;
}

.details {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.input-box {
	margin-bottom: 15px;
}

.input-box span {
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}

.details .input-box input,
.details .input-box textarea,
.details .input-box select {
	height: 45px;
	width: 100%;
	outline: none;
	font-size: 16px;
	border-radius: var(--box-radius-sm);
	padding-left: 15px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
	background-color: var(--transperent-color);
}

.details .input-box input:focus,
.details .input-box input:valid,
.details .input-box textarea:focus,
.details .input-box select {
	border-color: var(--primary-color);
}

.button {
	height: 45px;
	margin: 35px 0;
}

.button .form-btn {
	height: 100%;
	width: 100%;
	border-radius: var(--box-radius-sm);
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	cursor: pointer;
	background-color: var(--primary-color);
	box-shadow: var(--box-shadow);
	transition: all 0.2s ease-in;
}

.button .form-btn:hover {
	transform: scale(0.99);
	background: var(--primary-color);
	box-shadow: none;
}
