.loading-container {
	height: calc(100vh - var(--header-space-height));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.loading-container h4 {
	opacity: 0.5;
}
